#  vim:ts=4:sts=4:sw=4:noet
#
#  Author: Hari Sekhon
#  Date: 2013-02-03 10:25:36 +0000 (Sun, 03 Feb 2013)
#
#  https://github.com/harisekhon/tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  https://www.linkedin.com/in/harisekhon
#

# ============================================================================ #
#                            CPAN Module Dependencies
# ============================================================================ #

CAM::PDF
#IO::Socket::SSL
JSON
JSON::XS
LWP::Simple
LWP::UserAgent
Module::CPANfile::Result
Module::Install::Admin
#Net::LDAP
#Net::LDAP::Filter
#Net::LDAPI
#Net::LDAPS
Search::Elasticsearch
Term::ReadKey
Text::Unidecode
Time::HiRes
XML::LibXML
XML::Validate
